.img-contenedor {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: 5px;
}

.img-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
