.table-contenedor {
    max-width: 510px;
    min-height: 410px;
    background-color: white;
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 5px;
    margin: 5px;
}

.table-box {
    width: 100px;
    height: 100px;
    border: 2px solid;
    font-size: 40px;
    display: inline-block;
    text-align: center;
}

.red {
    background-color: red;
}